
name: Java CI with Maven

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Set up JDK 11
        uses: actions/setup - java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      

      - name: Build with Maven
        run: mvn -B -e verify
